:root {
    --font-primary: "Inter","gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-display: "Inter","gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-code: "Fira Code","gg mono","Source Code Pro",Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;

    letter-spacing: -0.05ch;
    font-weight: 400;
}

/* add scrollbar to server list */
[class*=none]::-webkit-scrollbar {
    width: 0.25em;
    background: transparent;
    border: none;
}

[class*=none]::-webkit-scrollbar-thumb {
    background: var(--scrollbar-auto-thumb);
}

/* hide annoying suggestion telling me to create a thread */
[class*=threadSuggestionBar] {
    display: none;
}

/* probably old fix to make it so profile descriptions don't get cut off */
[style="-webkit-line-clamp: 6;"] {
    -webkit-line-clamp: 10000000 !important;
}

/* nitpick: app -> bot, all uppercase */
span[class*=botTag]:not(span[class*=botTagAI], span[class*=botTagOP], span[class*=botTagRemix])>span[class$=botText],
span[class*=headerBotTag]:not(span[class*=botTagAI])>span[class$=botText] {
    display: none !important;
}

span[class*=botTag]:not(span[class*=botTagAI], span[class*=botTagOP], span[class*=botTagRemix])::after,
span[class*=headerBotTag]:not(span[class*=botTagAI])::after {
    content: "BOT";
}

/* nitpick: move gif icon and favourite button back to the right */
[class$=imageAccessory] {
    left: unset;
    right: 6px;
}

/* hide annoying/useless stuff */
[aria-label="Send a gift"],
[class*=container]:has(> [class$=artContainer]),
[role=tree]>*>[class$=footer] {
    display: none;
}

/* fix duplicated pronouns display with pronoundb plugin */
.vc-pronoundb-compact {
    display: none !important;
}

[class$=searchResultsWrap] [class$=container]:has([class$=pageControlContainer]){
    position: sticky;
    bottom: 0px;
    z-index: 999;
    background: var(--bg-overlay-1, var(--background-secondary));
}

.visual-refresh {
    div[class$="subtitleContainer"]:not(:has([class*=transparent])),
    main[class$="chatContent"] section[class*="-container"] {
        position-anchor: --vr-header-trailing;
        width: calc(100% - 88px);
    }

    div[class$="page"] {
        &:not(:has(> div[class$="chat"])) {
            anchor-name: --vr-header-snippet;
        }

        &>div[class$="chat"] {
            anchor-name: --vr-header-snippet;
        }
    }

    div[class$="base"] {
        grid-template-rows: auto;

        &>div[class*="-bar"] {
            position: absolute;
            position-anchor: --vr-header-snippet;
            top: 0;
            right: anchor(right);
            width: anchor-size(width);
            padding: 0;
        }

        & div[class$="trailing"] {
            anchor-name: --vr-header-trailing;
            background-color: var(--background-base-lower);
            border: none;
            border-bottom: 1px solid var(--border-subtle);
            border-top: 1px solid var(--border-subtle);
            height: calc(var(--custom-channel-header-height) - 1px);
            padding-right: 8px;
            padding-left: 4px;
        }
    }

    :not(:has(div[class$="page"] > div[class$="chat"])) div[class$="base"]>div[class$="bar"] {
        right: 0 !important;
    }

    ul[data-list-id="guildsnav"]>div[class$="itemsContainer"] {
        margin-top: 16px;
    }
}

div[aria-label="Update Ready!"] {
    display: none !important;
}