@import url(https://xyzenix.github.io/XYZenixThemes/DTM-16-V5/DTM-16.css);

/*:root {
    --font-primary: "Terminus (TTF)",gg sans, "Helvetica Neue",Helvetica,Arial,sans-serif!important;
    --font-display: "Terminus (TTF)",gg sans, "Helvetica Neue",Helvetica,Arial,sans-serif!important;
    --font-code: "Terminus (TTF)",Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
}

* {
    font-size: 11pt !important;
}*/

:root {
 --showRtcConnectionStatusIcon: block; /* show the vc ping/status icon | block = show | none = hide */
 --jumboEmojiSize: 2rem; /* Old - 2rem | New - 3rem */
}

.message_d5deea.cozyMessage_d5deea {
    margin-left: 20px;
    margin-right: 8px;
    padding-left: 50px !important;
    padding-right: 20px !important;
}


.container__037ed {
    background: none !important;
    margin-top: 0 !important;
}
/**
 * Snippet from #css-snippets applied the Nov 25, 2020 at 9:07:02 PM
 * Created by icanttellyou#5786 (224565309133029379)
 * Snippet ID: 781234181702942741
 */
[class*="none_"]::-webkit-scrollbar {
    width: 5px;
    background: transparent;
    border: none;
}
[class*="none_"]::-webkit-scrollbar-thumb {
    background: #101115;
}


/*.embedWrapper-1MtIDg.justifyAuto-BLgJ2X{justify-self: left !important;}

video.video-2HW4jD {
    width: 1920px !important;
    height: 1080px !important;
}

.imageWrapper-oMkQl4 { width: auto !important; }

.embedVideo-2ixt5A {
    width: 520px;
}*/

[class*="threadSuggestionBar_"] {
  display:none;
}

[style="-webkit-line-clamp: 6;"] {
  -webkit-line-clamp: 10000000 !important;
}

span[class^=botTag]:not(span[class*=botTagAI], span[class*=botTagOP], span[class*=botTagRemix]) > span[class^=botText],
span[class^=headerBotTag]:not(span[class*=botTagAI]) > span[class^=botText] {
  display: none !important;
}

span[class^=botTag]:not(span[class*=botTagAI], span[class*=botTagOP], span[class*=botTagRemix])::after,
span[class^=headerBotTag]:not(span[class*=botTagAI])::after {
  content: "BOT";
}